<% content_for :features, "landing-page" %>
<% content_for :class, "landing-page" %>
<% if user_signed_in? %>
<div class="wrapper">
  <div class="header " style="background-image: url(<%= asset_path 'BARW.png' %>); background-size: cover; background-position: top center;">
  </div>
</div>

<div class="main main-raised">
    <div class="container">
      <div class="row ">
      <div class="col-md-12" style="background-color: darkslategrey;">
        <br><br>
      </div>
    </div>
      <div class="description text-center">
        <p></p>
      </div>
      <div class="row">
      <!--Aqui removí la clase col-md-offset-3 para que no quitara 3 -->
        <div class="col-md-12 ">
          <div class="profile-tabs">
          <!--En la siguiente linea se centra todo lo que va en los tabs-->
            <div class="nav-align-center">
              <ul class="nav nav-pills" role="tablist">
                <!-- AQUI SE ACCIONA LA SELECCION EN LA CLASE ACTIVE-->
                <li class="active">
                  <a href="https://scontent.fpbc1-1.fna.fbcdn.net/v/t1.0-9/1476349_311431749052325_3137493258386112318_n.jpg?oh=4cb2e238e79e9fcb8f80e6326d3fdc3e&oe=5A18804B" role="tab" data-toggle="tab">
                    <i class="fa fa-beer" style="font-size:36px"></i>
                    Mama Dolores
                  </a>
                </li>
                <li>
                  <a href="#lap" role="tab" data-toggle="tab">
                    <i class="fa fa-beer" style="font-size:36px"></i>
                    La Pisteria
                  </a>
                </li>
                <li>
                  <a href="https://scontent.fpbc1-1.fna.fbcdn.net/v/t1.0-9/14102568_1065011950273645_9172711180421649976_n.png?oh=b7cfc30509326a1cfb0e4e7edc8b2b68&oe=59EAC12B" role="tab" data-toggle="tab">
                    <i class="fa fa-beer" style="font-size:36px"></i>
                    La Terraza
                  </a>
                </li>
                <li>
                  <a href="#alagua" role="tab" data-toggle="tab">
                    <i class="fa fa-beer" style="font-size:36px"></i>
                    Alagua lola
                  </a>
                </li>
                <li>
                  <a href="https://scontent.fpbc1-1.fna.fbcdn.net/v/t1.0-9/20727979_1294624873996473_6613319858604456575_n.jpg?oh=4b2c722b897e9fd49c40aa1c49231392&oe=5A2E374A" role="tab" data-toggle="tab">
                    <i class="fa fa-beer" style="font-size:36px"></i>
                    Tercer Piso/Mil Amores
                  </a>
                </li>
              </ul>
              <div class="tab-content gallery">
                <!-- AQUI SE ACCIONA LA SELECCION EN LA CLASE ACTIVE-->
                <div class="tab-pane active" id="mamadolores">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3" style="text-align: -webkit-center;">
                      <%= image_tag("https://scontent.fpbc1-1.fna.fbcdn.net/v/t1.0-9/1476349_311431749052325_3137493258386112318_n.jpg?oh=4cb2e238e79e9fcb8f80e6326d3fdc3e&oe=5A18804B", class: "img-circle img-raised img-responsive") %>
                      
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.8623120412058!2d-100.93733498561052!3d21.157877085928543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b3f0781559837%3A0xd8666049750ef09d!2sMam%C3%A1+Dolores!5e0!3m2!1ses-419!2smx!4v1502907211837" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <div class="tab-pane text-center" id="lap">
                  <div class="row">
                    <div class="col-md-6 " style="text-align: -webkit-center;">
                      <%= image_tag("https://scontent.fpbc1-1.fna.fbcdn.net/v/t1.0-9/17155690_1357767581005338_3843221641445128931_n.jpg?oh=c01053dfcb80f3cf7783093bbe3e1c3c&oe=5A30D796", class: "img-circle img-raised img-responsive") %>
                      <br>
                    </div>
                    <div class="col-md-6 ">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.8933367114037!2d-100.92337738558098!3d21.15664268877739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b3f1a7c34940f%3A0xfecc6f44ae71b5f4!2sLa+Pisteria!5e0!3m2!1ses!2smx!4v1502921112250" width="100%" height="450" frameborder="0" style="border-radius:7px; margin-top: 10%;" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <div class="tab-pane text-center" id="laterraza">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3" style="text-align: -webkit-center;">
                      <%= image_tag("https://scontent.fpbc1-1.fna.fbcdn.net/v/t1.0-9/14102568_1065011950273645_9172711180421649976_n.png?oh=b7cfc30509326a1cfb0e4e7edc8b2b68&oe=59EAC12B", class: "img-circle img-raised img-responsive") %>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.867813810636!2d-100.93552338558095!3d21.15765818874244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b3f07affac7ef%3A0xf98cf1ec81eee7d8!2sLa+Terraza!5e0!3m2!1ses!2smx!4v1502921162343" width="100%" height="450" frameborder="0" style="border-radius:7px; margin-top: 10%;" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <div class="tab-pane text-center" id="alagua">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3" style="text-align: -webkit-center;">
                      <%= image_tag("https://scontent.fpbc1-1.fna.fbcdn.net/v/t1.0-9/19748404_1044074665695524_5489625202988233002_n.jpg?oh=2aaed249c7f7fcd50cfa9e2ad1abfb12&oe=5A30AE94", class: "img-circle img-raised img-responsive") %>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.9062975242896!2d-100.92290428558094!3d21.156126988794984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b3f1a7e80cc07%3A0x544e00a626c06292!2sAL+AGUA+LOLA!5e0!3m2!1ses!2smx!4v1502921270820" width="100%" height="450" frameborder="0" style="border-radius:7px; margin-top: 10%;" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <div class="tab-pane text-center" id="tercer">
                  <div class="row">
                    <div class="col-md-6 " style="text-align: -webkit-center;">
                      <%= image_tag("https://scontent.fpbc1-1.fna.fbcdn.net/v/t1.0-9/20727979_1294624873996473_6613319858604456575_n.jpg?oh=4b2c722b897e9fd49c40aa1c49231392&oe=5A2E374A", class: "img-circle img-raised img-responsive") %>
                      <br>
                    </div>
                    <div class="col-md-6 ">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d586.0021599938547!2d-100.91906867243593!3d21.157103493441646!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x40cc8dcd969c1eff!2sMezcaleria+-+El+MIL+AMORES+-+Desmadre+Bar!5e0!3m2!1ses!2smx!4v1502990845368" width="100%" height="450" frameborder="0" style="border-radius:7px; margin-top: 7%" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- End Profile Tabs -->
        </div>
      </div>
    </div>
</div>
</div>
<footer class="footer">
<div class="container">
  <nav class="pull-left">
    <ul>
      <li>
        <a href="http://www.creative-tim.com">
          Creative Tim
        </a>
      </li>
      <li>
        <a href="http://presentation.creative-tim.com">
          About Us
        </a>
      </li>
      <li>
        <a href="http://blog.creative-tim.com">
          Blog
        </a>
      </li>
      <li>
        <a href="http://www.creative-tim.com/license">
          Licenses
        </a>
      </li>
    </ul>
  </nav>
  <div class="copyright pull-right">
    &copy; 2017, made with <i class="fa fa-heart heart"></i> by Beernini
  </div>
</div>
</footer>
<% else %>
  <div class="header " style="background-image: url(<%= asset_path 'BARW.png' %>); background-size: cover; background-position: top center;">
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="row ">
      <div class="col-md-12" style="background-color: darkslategrey;">
        <br><br>
      </div>
    </div>
    <div class="col-md-12">
      <h3>Por favor, regístrate para ver esta sección</h3>
    </div>
<% end %>
